# Listas

<span style="color: red;"><b>Todos os exercícios são feitos partindo-se do pressuposto de que todas as entradas são dadas de forma correta. Casos limite não mencionados no enunciado não são abordados porque não fazem parte do exercício.</b></span>

#### 1. Faça um Programa que leia as vendas dos vendedores, mostre a venda de cada vendedor com o seu nome e a média de vendas.

In [3]:
vendas = [1000, 1500, 1200, 1300]
vendedores = ["Fulano", "Beltrano", "Ciclano", "Lira"]
sum=0
for i, venda in enumerate(vendas):
    print(vendedores[i], venda)
    sum += venda
print(sum / len(vendas))

Fulano 1000
Beltrano 1500
Ciclano 1200
Lira 1300
1250.0

#### 2. Faça um Programa que crie uma lista com as médias de cada aluno, imprima as médias de cada aluno e a quantidade de alunos com média maior que 7.

In [14]:
alunos = ["José", "Joana", "Maria", "Carla", "Mauricio", "Andre", "Tiago", "Enzo", "Amanda", "Alessandra"]
notas = [
    [10, 9, 8, 8],
    [9, 7, 6, 4],
    [10, 10, 10, 10],
    [5, 3, 10, 9],
    [7, 6, 6, 6],
    [7, 7, 8, 7],
    [7, 7, 7, 9],
    [8, 5, 6, 7],
    [10, 9, 7, 4],
    [10, 1, 3, 3],
]
count = 0
media = []
for i, nota in enumerate(notas):
    sum = 0
    for n in nota:
        sum += n
    #print(sum)
    media.append(sum / len(nota))
    if media[i] > 7:
        count += 1
    print('Aluno: {}, media: {}'.format(alunos[i], media[i]))
print(count)

Aluno: José, media: 8.75
Aluno: Joana, media: 6.5
Aluno: Maria, media: 10.0
Aluno: Carla, media: 6.75
Aluno: Mauricio, media: 6.25
Aluno: Andre, media: 7.25
Aluno: Tiago, media: 7.5
Aluno: Enzo, media: 6.5
Aluno: Amanda, media: 7.5
Aluno: Alessandra, media: 4.25
5

#### 3. Foram anotadas as idades e salários de 30 funcionários. Faça um programa que determine quantos funcionários com mais de 25 anos possuem salário inferior à média de todos os salários.

In [25]:
idades = [35,32,50,33,48,50,33,48,22,49,35,38,20,47,49,48,34,21,48,44,48,30,25,42,42,23,25,23,38,35]
salarios = [3739,2219,3554,3978,4014,3270,4792,3879,2981,2384,4826,2460,3680,4318,1872,1770,4640,3929,3295,1729,3965,4267,4007,1916,2987,2943,3852,4543,2055,1730]

media = 0
sum = 0
for sal in salarios:
    sum += sal
media = (sum / len(salarios))
print(media)

idade_25 = []
salarios_25 = []
#print(len(idades), len(salarios))
for i, idad in enumerate(idades):
    if idad > 25:
        idade_25.append(idad)
        salarios_25.append(salarios[i])

count = 0
for i, sal in enumerate(salarios_25):
    #print('{}, {}\n'.format(idade_25[i],sal))
    if sal < media:
        count += 1
#print(len(idade_25), len(salarios_25))
print(count)

3319.8
12

#### 4.Em quais meses a média de temperatura foi maior do que a média nacional?

In [27]:
meses = [
    'Janeiro',
    'Fevereiro',
    'Março',
    'Abril',
    'Maio',
    'Junho',
    'Julho',
    'Agosto',
    'Setembro',
    'Outubro',
    'Novembro',
    'Dezembro'
]
sum = 0
temperaturas = [30, 29, 28, 28, 25, 26, 20, 21, 19, 25, 27, 32]
for temp in temperaturas:
    sum += temp
media = sum / len(temperaturas)
print(media)

for i, temp in enumerate(temperaturas):
    if temp > media:
        print(meses[i])

25.833333333333332
Janeiro
Fevereiro
Março
Abril
Junho
Novembro
Dezembro

#### 5. As Organizações Tabajara resolveram dar um abono aos seus colaboradores em reconhecimento ao bom resultado alcançado durante o ano que passou. Para isto contratou você para desenvolver a aplicação que servirá como uma projeção de quanto será gasto com o pagamento deste abono.
<pre>Após reuniões envolvendo a diretoria executiva, a diretoria financeira e os representantes do sindicato laboral, chegou-se a seguinte forma de cálculo:
. Cada funcionário receberá o equivalente a 20% do seu salário bruto de dezembro;
. O piso do abono será de 100 reais, isto é, aqueles funcionários cujo salário for muito baixo, recebem este valor mínimo; 

Neste momento, não se deve ter nenhuma preocupação com colaboradores com tempo menor de casa, descontos, impostos ou outras particularidades. O programa deverá calcular o valor do abono concedido a cada colaborador, de acordo com a regra definida acima. Ao final, o programa deverá apresentar:</pre>
<pre>
O salário de cada funcionário, juntamente com o valor do abono;
O número total de funcionário processados;
O valor total a ser gasto com o pagamento do abono;
O número de funcionário que receberá o valor mínimo de 100 reais;
O maior valor pago como abono; A tela abaixo é um exemplo de execução do programa, apenas para fins ilustrativos.
<pre>
Projeção de Gastos com Abono
============================ 
 
Salário: 1000
Salário: 300
Salário: 500
Salário: 100
Salário: 4500
Salário: 0
 
Salário    - Abono     
R$ 1000.00 - R$  200.00
R$  300.00 - R$  100.00
R$  500.00 - R$  100.00
R$  100.00 - R$  100.00
R$ 4500.00 - R$  900.00
 
Foram processados 5 colaboradores
Total gasto com abonos: R$ 1400.00
Valor mínimo pago a 3 colaboradores
Maior valor de abono pago: R$ 900.00

In [41]:
lista_salarios = [1000, 300, 500, 200, 1500, 3000, 3400, 5000, 7000, 2000, 600, 800, 250, 1500, 20000]
abonos = []

for lista in lista_salarios:
    print('Salario:  {:,}'.format(lista))
print('\n')
count = 0
for i,lista in enumerate(lista_salarios):
    #print('Salario:  {:,}'.format(lista))
    if lista <= 500:
        abonos.append(100.0)
        count += 1
    else:
        abonos.append(lista*0.2)
    print('Salario:  R$ {:,} - Abono:  R$ {}'.format(lista, abonos[i]))

print('\n')
print('Foram processados {} colaboradores'.format(len(abonos)))
maior = 0  
soma = 0
for abono in abonos:
    soma += abono
    if abono > maior:
        maior = abono
        

print('Total gasto com abonos: R$ {}'.format(soma))
print('Valor mínimo pago a {} colaboradores'.format(count))
print('Maior valor de abono pago: R$ {}'.format(maior))

Salario:  1,000
Salario:  300
Salario:  500
Salario:  200
Salario:  1,500
Salario:  3,000
Salario:  3,400
Salario:  5,000
Salario:  7,000
Salario:  2,000
Salario:  600
Salario:  800
Salario:  250
Salario:  1,500
Salario:  20,000


Salario:  R$ 1,000 - Abono:  R$ 200.0
Salario:  R$ 300 - Abono:  R$ 100.0
Salario:  R$ 500 - Abono:  R$ 100.0
Salario:  R$ 200 - Abono:  R$ 100.0
Salario:  R$ 1,500 - Abono:  R$ 300.0
Salario:  R$ 3,000 - Abono:  R$ 600.0
Salario:  R$ 3,400 - Abono:  R$ 680.0
Salario:  R$ 5,000 - Abono:  R$ 1000.0
Salario:  R$ 7,000 - Abono:  R$ 1400.0
Salario:  R$ 2,000 - Abono:  R$ 400.0
Salario:  R$ 600 - Abono:  R$ 120.0
Salario:  R$ 800 - Abono:  R$ 160.0
Salario:  R$ 250 - Abono:  R$ 100.0
Salario:  R$ 1,500 - Abono:  R$ 300.0
Salario:  R$ 20,000 - Abono:  R$ 4000.0


Foram processados 15 colaboradores
Total gasto com abonos: R$ 9560.0
Valor mínimo pago a 4 colaboradores
Maior valor de abono pago: R$ 4000.0

#### 6. Faça um programa que carregue uma lista com os modelos de cinco carros (exemplo de modelos: FUSCA, GOL, VECTRA etc). Carregue uma outra lista com o consumo desses carros, isto é, quantos quilômetros cada um desses carros faz com um litro de combustível. Calcule e mostre:
<pre>
a. O modelo do carro mais econômico;
b. Quantos litros de combustível cada um dos carros cadastrados consome para percorrer uma distância de 1000 quilômetros e quanto isto custará, considerando um que a gasolina custe R$ 2,25 o litro. Abaixo segue uma tela de exemplo. O disposição das informações deve ser o mais próxima possível ao exemplo. Os dados são fictícios e podem mudar a cada execução do programa.</pre>
```
Comparativo de Consumo de Combustível

Veículo 1
Nome: fusca
Km por litro: 7
Veículo 2
Nome: gol
Km por litro: 10
Veículo 3
Nome: uno
Km por litro: 12.5
Veículo 4
Nome: Vectra
Km por litro: 9
Veículo 5
Nome: Peugeout
Km por litro: 14.5

Relatório Final
 1 - fusca           -    7.0 -  142.9 litros - R$ 321.43
 2 - gol             -   10.0 -  100.0 litros - R$ 225.00
 3 - uno             -   12.5 -   80.0 litros - R$ 180.00
 4 - vectra          -    9.0 -  111.1 litros - R$ 250.00
 5 - peugeout        -   14.5 -   69.0 litros - R$ 155.17
O menor consumo é do peugeout.
```

In [53]:
print('Comparativo de Consumo de Combustível')
veiculos = ['fusca',' gol', 'uno', 'vectra', 'peugeot']
autonomias = [7, 10, 12.5, 9, 14.5]

litros = []
gasto = []
menor = 10000000
menor_carro = ''
for i, autonomia in enumerate(autonomias) :
    litros.append(1000 / autonomia)
    gasto.append(litros[i] * 2.25)
    if  gasto[i] < menor:
        menor = gasto[i]
        menor_carro = veiculos[i]
#print(litros)
#print(gasto)
#print(menor)
print('Relatório Final')
for i, veiculo in enumerate(veiculos):
    
    print('{} - {}       -    {} - {:.1f} litros - R$ {:.2f}'.format(i,veiculo.strip(), autonomias[i], litros[i], gasto[i]))
print('O menor consumo é do {}'.format(menor_carro))

Comparativo de Consumo de Combustível
Relatório Final
0 - fusca       -    7 - 142.9 litros - R$ 321.43
1 - gol       -    10 - 100.0 litros - R$ 225.00
2 - uno       -    12.5 - 80.0 litros - R$ 180.00
3 - vectra       -    9 - 111.1 litros - R$ 250.00
4 - peugeot       -    14.5 - 69.0 litros - R$ 155.17
O menor consumo é do peugeot

#### 7. Uma empresa paga seus vendedores com base em comissões. O vendedor recebe \\$200 por semana mais 9 por cento de suas vendas brutas daquela semana. Por exemplo, um vendedor que teve vendas brutas de \\$3000 em uma semana recebe \\$200 mais 9 por cento de \\$3000, ou seja, um total de \\$470. Escreva um programa (usando um array de contadores) que determine quantos vendedores receberam salários nos seguintes intervalos de valores:
<pre>
$200 - $299
$300 - $399
$400 - $499
$500 - $599
$600 - $699
$700 - $799
$800 - $899
$900 - $999
$1000 em diante
</pre>

Existem várias formas de fazer. Faça primeiro da forma que parecer mais intuitiva para você.

Em seguida, caso queira um desafio:
Desafio: Crie uma forma para chegar na posição da lista a partir do salário, sem fazer vários ifs aninhados.

In [56]:
vendas = [1000, 2000, 3000, 4000, 5000, 6000, 5500, 4500, 3600]

salario = []

for venda in vendas:
    salario.append(venda * 0.09 + 200)
print(salario)

cont_700 = 0
cont_600_699 = 0
cont_500_599 = 0
cont_400_499 = 0
cont_300_399 = 0
cont_200_299 = 0
for sal in salario:
    if sal >= 700:
        cont_700 += 1
    elif sal >= 600:
        cont_600_699 += 1
    elif sal >= 500:
        cont_500_599 += 1
    elif sal >= 400:
        cont_400_499 += 1
    elif sal >= 300:
        cont_300_399 += 1
    else:
        cont_200_299 += 1

print('$200 - $299 : {}'.format(cont_200_299))

[290.0, 380.0, 470.0, 560.0, 650.0, 740.0, 695.0, 605.0, 524.0]
$200 - $299 : 1